# Ignoring packages folder in project solution
./map_pose/map_pose/packages/

# Ignore Mac system files 
.DS_store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.def
*.o
*.out
*.tmp
*.so
*.so.*
*.a
test/
build
build.*
*.swp
